<h2>Updated achievements!</h2>
{% for item in items %}
    <h3><a href="{% url "achievement" item.typekey %}#{{ item.name|slugify }}">{{ item.name }} {% if item.level > 0 %}
        (Level {{ item.level }}){% endif %}</a></h3>
    <span style="width: 50%; height: 15px; border: 1px solid grey; display: block; padding: 0pt; margin: 0pt;">
		<span style="display: block; background-color: red; width: {% percent_meter item.start_value item.current_value item.value %}%; height: 15px;">&nbsp;</span>
	</span>
{% endfor %}