{% extends base_page %}
{% load i18n %}

{% block breadcrumbs %}
    {% if request.engine.IS_FB %}<strong class="final">Last step</strong>{% endif %}
    {# <span class="final">Home</span> #}
{% endblock %}

{% block content %}

    <div class="box-4">

        <div id="stylized" class="myform rounded" style="float: left; margin-left: 30px;">
            <form id="form" name="form" method="post" action="">

                <label>Your nickname:
                    {% if form.username.errors %}
                        <span class="small"><em style="color: red;">{{ form.username.errors|join:", " }}</em></span>
                    {% else %}
                        <span class="small">it has to be unique</span>
                    {% endif %}
                </label>
                <input type="text" name="username" value="{{ username }}"/>

                <input type="hidden" name="password1" value="{{ password }}"/>
                <input type="hidden" name="password2" value="{{ password }}"/>
                {% if not request.engine.IS_FB %}
                    <input type="hidden" name="email" value="{{ request.GET.email }}"/>
                {% endif %}
                <input type="hidden" name="partner" value="{{ request.GET.partner }}"/>
                <button type="submit" class="button" type="submit">PLAY!</button>
                <div class="spacer"></div>
            </form>
        </div>
    </div>

{% endblock %}
