#preview {
    position: absolute;
    border: 1px solid #ccc;
    background: #333;
    padding: 5px;
    display: none;
    color: #fff;
}

.message {
    width: 600px;
    margin: 20px 20px 20px 20px;
    border: 3px darkgrey solid;
    background-color: lightgrey;
    padding: 5px 5px 5px 5px;
}

.message p {
    font-weight: bold;
    font-size: 14px;
}

.description {
    border: 3px #A9A9A9 solid;
    background: #D3D3D3 none repeat scroll 0 0;
    padding: 10px 7px 10px 10px;
}

div.warning {
    border: 3px #CC3300 solid;
    background: #F9B3A6 none repeat scroll 0 0;
    padding: 10px 7px 10px 10px;
}

div.info {
    background: #FFF9D7 none repeat scroll 0 0;
    border: 3px #E2C822 solid;
    padding: 10px 7px 10px 10px;
    font-size: 13px;
    font-weight: bold;
    line-height: 1.3em;
    margin: 10px 20px 10px 15px;

}

.question {
    padding: 10px 7px 10px 10px;
}

.help {
    border-bottom: 1px dotted black;
}

.countdown {
    font-family: Helvetica, Arial, Helvetica, Geneva, sans-serif;
    font-size: 2.5em;
    letter-spacing: -0.02em;
}

.niceBoxOut {
    padding: 20px;
    margin: 0 15px 25px 25px;
    background-color: #f0f0f0;
    display: block;
}

.niceBox {
    padding: 10px 10px 10px 10px;
    background-color: #ffffff;
    border: 1px solid #dddddd;
}

ul.horizontal, ul.horizontal li {
    display: block;
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 13px;
}

ul.horizontal {
    text-align: center;
    border-bottom: 1px solid #888;
    padding-bottom: 5px;
}

ul.horizontal li {
    display: inline;
    white-space: nowrap;
    margin-right: 5px;
}

ul.horizontal a:link, ul.horizontal a:visited {
    text-decoration: none;
    background-color: #ccc;
    color: #000;
    border: 1px solid #888;
    padding: 5px;
}

ul.horizontal a:hover {
    background-color: #fff;
    border-bottom-color: #fff;
}

/* STREAM */
table.stream {
    padding-left: 15px;
}

table.stream tr.odd {
    background-color: #f0f0f0;
}

.recentStream {
    width: 450px;
    margin-top: 25px;
    border-right: 1px solid #CBCACA;
    float: left;
}

.recentStreamArticle {
    border-bottom: 1px dotted #CBCACA;
    border-top: 1px dotted #CBCACA;
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    width: 205px;
}

.recentStream h2 {
    font-family: georgia, times, "Times new roman", serif;
    font-size: 16px;
    line-height: 18px;
    margin-bottom: 5px;
    margin-top: 10px;
    padding: 0;
}

.recentStream h2 a {
    background-color: #FFFFFF;
    color: #000000;
}

.streamArticleHead, .streamArticleHead a {
    color: #663300 !important;
    font-size: 11px;
    letter-spacing: 2px;
    margin: 0;
    padding-top: 0;
    padding-bottom: 5px;
    text-transform: uppercase;
}

.streamArticleContent {
    font-family: arial, helvetica, sans-serif;
    font-size: 12px;
    text-align: center;
}

.streamArticleContent a, .streamArticleContent a:visited {
    color: #000;
}

.streamArticleContent a:hover {
    color: #fff;
    background-color: #000
}

.recentNews {
    width: 95%;
    margin-top: 25px;
}

.recentNewsArticle {
    border-top: 1px dotted #CBCACA;
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
    padding-right: 10px;
    width: 95%;
}

.recentNews h2 {
    font-family: georgia, times, "Times new roman", serif;
    font-size: 16px;
    line-height: 18px;
    margin-bottom: 5px;
    margin-top: 10px;
    padding: 0;
}

.recentNews h2 a {
    background-color: #FFFFFF;
    color: #000000;
}

.newsArticleHead, .newsArticleHead a {
    color: #663300 !important;
    font-size: 11px;
    letter-spacing: 2px;
    margin: 0;
    padding-top: 0;
    padding-bottom: 5px;
    text-transform: uppercase;
}

.newsArticleContent {
    font-family: arial, helvetica, sans-serif;
    font-size: 12px;
    text-align: center;
}

.newsArticleContent a, .newsArticleContent a:visited {
    color: #000;
}

.newsArticleContent a:hover {
    color: #fff;
    background-color: #000
}

/* RIGHT WING */
.rightWing {
    width: 230px;
    margin-top: 25px;
    /*border-right:1px solid #CBCACA;*/
    float: right;
}

.rightWingBox {
    border-bottom: 1px dotted #CBCACA;
    border-top: 1px dotted #CBCACA;
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    width: 200px;
}

.rightWing h2 {
    font-family: georgia, times, "Times new roman", serif;
    font-size: 16px;
    line-height: 18px;
    margin-bottom: 5px;
    margin-top: 10px;
    padding: 0;
}

.rightWing h2 a {
    background-color: #FFFFFF;
    color: #000000;
}

.rightWingBoxHead, .rightWingBoxHead a {
    color: #663300 !important;
    font-size: 11px;
    letter-spacing: 2px;
    margin: 0;
    padding-top: 0;
    padding-bottom: 5px;
    text-transform: uppercase;
}

.rightWingBoxContent {
    font-family: arial, helvetica, sans-serif;
    font-size: 12px;
    text-align: center;
}

.rightWingBoxContent a, .rightWingBoxContent a:visited {
    color: #000;
}

.rightWingBoxContent a:hover {
    color: #fff;
    background-color: #000
}

dl.list {
    display: block;
    font-family: Arial;
    border-top: 2px solid #E5E5E5;
    font-size: 11px;
}

dl.list dt {
    border-top: 1px solid #E5E5E5;
    color: #999999;
    float: left;
    font-weight: bold;
    padding: 4px 0;
    width: 30px;
}

dl.list dd {
    border-top: 1px solid #E5E5E5;
    margin: 0 0 0 30px;
    padding: 4px 0;
}

/* TWO COL */
div.twoCol {
    width: 50%;
}

.left {
    float: left;
}

.right {
    float: right;
}

/* ICONS */
span.info {
    background: transparent url(http://static.crimecorp.com/images/icons/info.gif) no-repeat scroll 3px 1px;
    padding-left: 16px;
    padding-top: 2px;
    padding-bottom: 2px;
}

span.heat {
    background: transparent url(http://static.crimecorp.com/images/icons/heat.gif) no-repeat scroll 0 -1px;
    padding-left: 16px;
}

span.respect {
    background: transparent url(http://static.crimecorp.com/images/icons/respect.gif) no-repeat scroll 0 -1px;
    padding-left: 16px;
}

span.attack {
    background: transparent url(http://static.crimecorp.com/images/icons/gun.gif) no-repeat scroll 0 -1px;
    padding-left: 16px;
}

span.defense {
    background: transparent url(http://static.crimecorp.com/images/icons/shield.gif) no-repeat scroll 0 -1px;
    padding-left: 16px;
}

span.credit {
    background: transparent url(http://static.crimecorp.com/images/icons/credit.gif) no-repeat scroll 0 0px;
    padding-left: 16px;
}

span.cash {
    background: transparent url(http://static.crimecorp.com/images/icons/cash.gif) no-repeat scroll 0 1px;
    padding-left: 16px;
}

span.time {
    background: transparent url(http://static.crimecorp.com/images/icons/time.gif) no-repeat scroll 0 -1px;
    padding-left: 16px;
}

span.city {
    background: transparent url(http://static.crimecorp.com/images/icons/city.gif) no-repeat scroll 0 -1px;
    padding-left: 16px;
}

span.family {
    background: transparent url(http://static.crimecorp.com/images/icons/gang.gif) no-repeat scroll 0 -1px;
    padding-left: 16px;
}

span.gun {
    background: transparent url(http://static.crimecorp.com/images/icons/gun.gif) no-repeat scroll 0 0px;
    padding-left: 16px;
}

span.exit {
    background: transparent url(http://static.crimecorp.com/images/icons/exit.gif) no-repeat scroll 0 0px;
    padding-left: 16px;
}

span.happy {
    background: transparent url(http://static.crimecorp.com/images/icons/happy.gif) no-repeat scroll 0 -1px;
    padding-left: 16px;
}

/* M E N U */
.menu {
    border-right: 1px solid #000000;
    font-family: arial, sans-serif;
    height: 32px;
    position: relative;
    width: 672px;
    z-index: 100;
    clear: both;
}

/** html .menu {
width:745px;
}*/
.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu ul ul {
    width: 112px;
}

.menu li {
    float: left;
    position: relative;
    width: 112px;
}

.menu a, .menu a:visited {
    background: #000000 none repeat scroll 0 0;
    border-color: #000000;
    border-style: solid;
    border-width: 1px 0 1px 1px;
    color: #FFFFFF;
    display: block;
    font-size: 12px;
    font-weight: bold;
    height: 30px;
    line-height: 29px;
    padding-left: 10px;
    text-decoration: none;
    width: 112px;
}

/** html .menu a, * html .menu a:visited {
width:112px;
}*/
.menu ul ul a.drop, .menu ul ul a.drop:visited {
    background: #000000 url(http://static.crimecorp.com/images/grey-arrow.gif) no-repeat scroll 130px center;
}

.menu ul ul a.drop:hover {
    background: #000000 url(http://static.crimecorp.com/images/blue-arrow.gif) no-repeat scroll 130px center;
}

.menu ul ul :hover > a.drop {
    background: #000000 url(http://static.crimecorp.com/images/blue-arrow.gif) no-repeat scroll 130px center;
}

.menu ul ul ul a, .menu ul ul ul a:visited {
    background: #000000 none repeat scroll 0 0;
}

.menu ul ul ul a:hover {
    background: #000000 none repeat scroll 0 0;
}

.menu ul ul {
    border-top: 1px solid #000000;
    height: 0;
    left: 0;
    position: absolute;
    top: 31px;
    visibility: hidden;
    width: 112px;
}

/** html .menu ul ul {
	top:31px;
}*/
.menu ul ul ul {
    left: 112px;
    top: -1px;
    width: 112px;
}

.menu ul ul ul.left {
    left: -112px;
}

.menu table {
    border-collapse: collapse;
    left: 0;
    position: absolute;
    top: 0;
}

.menu ul ul a, .menu ul ul a:visited {
    background: #000000 none repeat scroll 0 0;
    border-width: 0 1px 1px;
    color: #ffffff;
    height: auto;
    line-height: 1em;
    padding: 5px 10px;
    width: 112px;
}

/** html .menu ul ul a, * html .menu ul ul a:visited {
width:112px;
}*/
.menu a:hover, .menu ul ul a:hover {
    background: #ffffff none repeat scroll 0 0;
    color: #000000;
}

.menu :hover > a, .menu ul ul :hover > a {
    background: #ffffff none repeat scroll 0 0;
    color: #000000;
}

.menu ul li:hover ul, .menu ul a:hover ul, .menu ul :hover ul :hover ul {
    visibility: visible;
}

.menu ul :hover ul ul {
    visibility: hidden;
}

/* T A B L E S */
table.data {
    /*	color: #7F7F7F;*/
    border-collapse: collapse
}

/*table.data,caption.data {*/
/*	margin: 0 auto;*/
/*	border-right: 1px solid #CCC;*/
/*	border-left: 1px solid #CCC*/
/*}*/

table.data caption, table.data th, table.data td {
    border-left: 0;
    padding: 10px
}

table.data caption, table.data thead th, table.data tfoot th, table.data tfoot td {
    background-color: #E63C1E;
    color: #FFF;
    font-weight: bold;
    text-transform: uppercase
}

table.data thead th {
    background-color: #C30;
    color: #FFB3A6;
    text-align: center
}

table.data tbody th {
    padding: 20px 10px;
    background-color: #DDD;
    font-size: 16px;
    font-weight: bold;
    border-top: 3px solid grey;
}

table.data tbody tr.odd {
    background-color: #F7F7F7;
    /*	color: #666*/
}

table.data tbody a {
    padding: 1px 2px;
    color: #333;
    text-decoration: none;
    border-bottom: 1px dotted #E63C1E
}

table.data tbody td.name {
    font-size: 13px;
}

table.data tbody a:active, table.data tbody a:hover, table.data tbody a:focus, table.data tbody a:visited {
    color: #666
}

table.data tbody tr:hover {
    background-color: #EEE;
    color: #333
}

table.data tbody tr:hover a {
    background-color: #FFF
}

table.data tbody td + td + td + td a {
    color: #C30;
    font-weight: bold;
    border-bottom: 0
}

table.data tbody td + td + td + td a:active, table.data tbody td + td + td + td a:hover, table.data tbody td + td + td + td a:focus, table.data tbody td + td + td + td a:visited {
    color: #E63C1E
}