<ul>
    <li>This is a place for all your albums and ones you can buy at the moment.</li>
    <li>Your goal is to collect as many cars, and as many albums as you can.</li>
    <ul>
        <li>
            <div class="descrip">All albums are public so keep expanding them to make your friends jelous.</div>
        </li>
        <li>
            <div class="descrip">REMEMBER. Car once sticked to the album is beeing removed from your garage permanently,
                so try to keep balance between garage and albums, to still have enough fire powers to win battles.
            </div>
        </li>
    </ul>
</ul>