<ul>
    <li>Prove you have the best cars and gain money and experience by battling other players.</li>
    <li>How it works?
        <ul>
            <li>
                <div class="descrip">choose a opponent; you get extra bonus for higher-than-you level and get penaltied
                    by aiming on weaker ones.
                </div>
            </li>
            <li>
                <div class="descrip">you start a three-car battle which means 3 cars randomly selected from your and
                    your opponent's garage.
                </div>
            </li>
            <li>
                <div class="descrip">in each battle you choose any three of six car attributes.</div>
            </li>
            <li>
                <div class="descrip">depending on those attributes you win or lose the skirmish and winner of three wins
                    the whole battle.
                </div>
            </li>
        </ul>
    </li>
</ul>