<ul>
    <li>This is the Battle Screen</li>
    <li>Battle consists of 3 fights and this is one of them.</li>
    <li>Your car is on the left hand side, on the opposite is a random car from your opponent's garage.</li>
    <li>Pick 3 of 6 parameters and player with better score wins a fight. Go similar route during next two fights and
        try to win at least two of three fights to win whole battle.
    </li>
    <li>Rules:
        <ul>
            <li>
                <div class="descrip">Year - lower is better</div>
            </li>
            <li>
                <div class="descrip">Engine Cap. - higher is better</div>
            </li>
            <li>
                <div class="descrip">Power - higher is better</div>
            </li>
            <li>
                <div class="descrip">Top Speed - higher is better</div>
            </li>
            <li>
                <div class="descrip">Weight - lower is better</div>
            </li>
            <li>
                <div class="descrip">BHP per ton - higher is better</div>
            </li>
        </ul>
    </li>
    <li>Good Luck!</li>
</ul>