<ul>
    <li>It's first place to look when you need cars.</li>
    <li>
        <div class="descrip">Three rounds a day, on each round you should collect as good car as you can, or just one
            you need.
        </div>
    </li>
    <li>
        <div class="descrip">Higher tier means better, more powerful and more exotics cars. You'll need them to win
            battles against other players.
        </div>
    </li>
    <li>You can move to the next tier twofold:
        <ul>
            <li>
                <div class="descrip">ask given number of friends for help by sending them link found under "ASK FOR
                    HELP" button.
                </div>
            </li>
            <li>
                <div class="descrip">win one-to-one battle with random opponent; once you loose you stay at the same
                    level, but number of attempts are limited by your energy level.
                </div>
            </li>
        </ul>
    </li>
    <li>
        <div class="descrip">Tier 6 cars are limited to our <a href="/store/">supporters</a>, but if you're not willing
            to support us, you may buy'em for in-game cash on auction either.
        </div>
    </li>
</ul>