{% extends base_page %}

{% block title %}Car Battle Affiliate Program - FAQ{% endblock %}

{% block header %}
    Car Battle Affiliate Program - FAQ
{% endblock %}

{% block breadcrumbs %}
    <a href="{% url "partner" %}">Affiliate Program</a>
    <span class="final">FAQ</span>
{% endblock %}

{% block content %}

    <div class="box-3">

        <div id="intro">
            <h1>When I get paid?</h1>
        </div>
        <div style="text-align: justify; padding-top: 5px;">
            <p>We pay you every 45 days if your earnings are $100 or more. If your earnings are less than $100, we'll
                wait until they are $100 and then pay you 45 days after that.</p>
        </div>
        <br/>

        <div id="intro">
            <h1>How much do you pay?</h1>
        </div>
        <div style="text-align: justify; padding-top: 5px;">
            <p>You start with 10% commission out of every referal's in-game payments. If you cross $1000, we raise your
                commission rate to 15% and to 20% if you collect $5000 or more during a month.</p>
        </div>
        <br/>

        <div id="intro">
            <h1>For how long my referal is active?</h1>
        </div>
        <div style="text-align: justify; padding-top: 5px;">
            <p>He have no time limit on referals, so you keep receiving your commission as long as refered players are
                active Car Battle players!</p>
        </div>
        <br/>

    </div>

{% endblock %}