{% extends base_page %}

{% block title %}Car Battle Affiliate Program - Terms and Conditions{% endblock %}

{% block header %}
    Car Battle Affiliate Program - Terms and Conditions
{% endblock %}

{% block breadcrumbs %}
    <a href="{% url "partner" %}">Affiliate Program</a>
    <span class="final">Terms and Conditions</span>
{% endblock %}

{% block content %}

    <div class="box-3">

        <div id="intro">
            <h1>Very soon!</h1>
        </div>
        <div style="text-align: justify; padding-top: 5px;">
            <p></p>
        </div>
        <br/>

    </div>

{% endblock %}